<h1>News Feed Submission</h1>

<p>This component demonstrates submitting data to server.</p>

<form style="width:400px" [formGroup]="storyForm" (ngSubmit)="onSubmit(storyForm.value)">
  <div class="form-group">
    <label for="title">
      Title
    </label>
    <input id="title" type="text" class="form-control" formControlName="title">
  </div>
  <div class="form-group">
    <label for="author">
      Author
    </label>
    <input id="author" type="text" class="form-control" formControlName="author">
  </div>
  <div class="form-group">
    <label for="tag">
      Tag
    </label>
    <input id="tag" type="text" class="form-control" formControlName="tag">
  </div>
  <div class="form-group">
    <label for="body">
      Body
    </label>
    <textarea id="body" class="form-control form-control-lg" formControlName="body"></textarea>
  </div>

  <button class="btn btn-primary btn-block" type="submit">Submit</button>
</form>
