<h1>News Feed</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!stories"><em>Loading...</em></p>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Tag</span>
  </div>
  <input #subscriptionInput type="text" class="form-control" (focusout)="subscriptionHandler(subscriptionInput)">
</div>

<h5 *ngIf="tags">Subscribed tags: {{ tags.join(', ') || "none" }}</h5>
<div class='feed-container' *ngIf="stories">
  <div class='story' *ngFor="let story of stories">
    <h2>{{ story.title }}</h2>
    <div>
      <span class='story-tag'>{{ story.tag }}</span>
      <em class='story-author'>by {{ story.author }}</em>
    </div>
    <p class='story-body'>{{ story.body }}</p>
    <div class='story-published'>{{ story.publishedDate | date }}</div>
  </div>
</div>
