<h1>News Feed</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!stories"><em>Loading...</em></p>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Tag</span>
  </div>
  <input #subscriptionInput type="text" class="form-control" (focusout)="subscriptionHandler(subscriptionInput)">
</div>

<h5 *ngIf="tags">Subscribed tags: {{ tags.join(', ') || "none" }}</h5>
<table class='table table-striped' *ngIf="stories">
  <thead>
    <tr>
      <th>Tag</th>
      <th>Title</th>
      <th>Author</th>
      <th>Published Date</th>
      <th>Modified Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of stories">
      <td>{{ forecast.tag }}</td>
      <td>{{ forecast.title }}</td>
      <td>{{ forecast.author }}</td>
      <td>{{ forecast.publishedDate }}</td>
      <td>{{ forecast.modifiedDate }}</td>
    </tr>
  </tbody>
</table>
